mode: debug
log_level: info
log_path: log

app:
  prefix_url: http://127.0.0.1:8100
  avatar_save_path: static/uploads/avatar/
  runtime_root_path: runtime/
  image_allow_exts: .jpg,.jpeg,.png
  image_max_size: 5
  heartbeat: 1000
  jwt_time: 7200
  jwt_secret: social-key
websocket:
  addr: :8000

http:
  addr: :8100

rpc:
  addr: :9100

etcd:
  addr: 127.0.0.1:2379

redis:
  host: 127.0.0.1
  port: 6379
  password: 123456
  db: 0
  pool_size: 30
  min_idle_conn: 30

postgres:
  host: 127.0.0.1
  port: 5433
  username: postgres
  password: 123456
  database: social
  sslmode: disable

mysql:
  host: 127.0.0.1
  port: 6555
  dbname: social
  username: root
  password: 123456
  maximum_pool_size: 50
  maximum_idle_size: 10

gateway:
  name: gateway
  host: 0.0.0.0
  port: 8800
  endpoint:
    - name: ws_service
      proxy:
        balance: random
        targets:
          - target: "127.0.0.1:6660"
          - target: "127.0.0.1:6661"
          - target: "127.0.0.1:6662"
      rate_limit: false
    - name: im_service
      proxy:
        balance: random
        targets:
          - target: "127.0.0.1:6660"
          - target: "127.0.0.1:6661"
          - target: "127.0.0.1:6662"
      rate_limit: false

im:
  host: 127.0.0.1
  port: 9001

group:
  host: 127.0.0.1
  port: 9002