mode: debug
log_level: info
log_path: log
atomic_level_addr: :4240

etcd:
  addr: 127.0.0.1:2379

transport:
  grpc:
    service_name: "gate-inter-rpc-server"
    addr: "127.0.0.1:7200"

gateway:
  name: Gateway
  addr: :8800
  endpoint:
    - name: ws_service
      proxy:
        balance: random
        targets:
          - target: "127.0.0.1:6660"
          - target: "127.0.0.1:6661"
          - target: "127.0.0.1:6662"
      rate_limit: false
    - name: im_service
      proxy:
        balance: random
        targets:
          - target: "127.0.0.1:6660"
          - target: "127.0.0.1:6661"
          - target: "127.0.0.1:6662"
      rate_limit: false